.button {
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.4s;
}

body {
    background-color: black;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    width: 100%;
    height: 80%;
}

.button-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.generate-button {
    background-color: #f2f2f2;
    border-bottom-color: #999;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.4s;
    margin-left: 45.5%;
    margin-top: 1%;
    width: 10rem;

}
